---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero/Hero.astro';
import Skills from '../components/Skills/Skills.astro';
import siteConfig from '../config/config';
---

<Layout title='drskyJs' description='Main'>
  <main>
    <Hero texts={siteConfig.heroText} image={siteConfig.heroImage} />
    <Skills />
  </main>
</Layout>
